@import 'reset';
@import 'vendors';
@import 'fonts';


$dark-grey: #605a5c;
$banner-grey: #f4f4f4;
$fonts-banner-grey: #e5e5e5;


html {
  height: 100%;
}

body {
  height: 100%;
  color: $dark-grey;
}

.hero-image {
  background-image: url(/images/quiz-geek.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  transform: rotate(20deg);
  position: absolute;
  top: 20%;
  left: 60%;

  a {
    position: absolute;
    top: 46px;
    left: 58px;
    transform: translate(-50%, -51%);
    color: #67B1A4;
    font-family: "KOMTITA_";
    background-color: transparent;
    font-size: 42px;
    padding: 15px;
    
  }
}